<div class="container">
<h1>available items</h1>
</div>
 
<div class="card" style="width: 18rem;" id="food1">
    <img src="https://media.istockphoto.com/photos/rajma-chawal-an-indian-food-picture-id1309964339?k=20&m=1309964339&s=612x612&w=0&h=EMicklNWx5lFdcGOClw_ceUkvWoDMQKGUsTsfaDGCMY=">
    <div class="card-body">
      <h5 class="card-title">NorthIndian food</h5>
      <p class="card-text">ROTIES<br>butter naan<br>cost:₹200</p>
      <a href="contact" >OrderNow</a>
    </div>
  </div>
<div class="card" style="width: 18rem;" id="food2">
    <img src="https://media.istockphoto.com/photos/indian-desserts-kheer-mitahi-picture-id1169496252?k=20&m=1169496252&s=612x612&w=0&h=lBRqwLnPpZFhhAwq6lK-LBAG5964pooTQtdY5kemEgQ=">
    <div class="card-body">
      <h5 class="card-title">sweets</h5>
      <p class="card-text">kheer<br>₹100</p>
      <a href="contact" >OrderNow</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" id="food3">
    <img src="https://media.istockphoto.com/photos/whole-italian-pizza-on-wooden-table-with-ingredients-picture-id1048400936?k=20&m=1048400936&s=612x612&w=0&h=fPRKreYthnwvfa1x9WT6e13PtTSvK9ClhxkKOM6zhSk=">
    <div class="card-body">
      <h5 class="card-title">pizza's</h5>
      <p class="card-text">non-veg<br>veg<br>₹200</p>
      <a href="contact" >OrderNow</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" id="food4">
    <img src="https://media.istockphoto.com/photos/burger-on-a-red-gradient-background-picture-id1134613434?k=20&m=1134613434&s=612x612&w=0&h=H4cGuieKDLJTVtrWMmqzOAXaoEPoPoD-5JaI-1HoxKo=">
    <div class="card-body">
      <h5 class="card-title">burgers</h5>
      <p class="card-text">non-veg<br>veg<br>₹200</p>
      <a href="contact" >OrderNow</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;" id="food6">
    <img src="https://media.istockphoto.com/photos/cheesecake-slice-with-strawberries-picture-id1205169550?k=20&m=1205169550&s=612x612&w=0&h=QqJDIpCEpGEXBFU2c-aoZKEgtU5tfFGxKxrBu1bHYww=">
    <div class="card-body">
      <h5 class="card-title">pastries</h5>
      <p class="card-text">cakes<br>sweets<br>₹200</p>
      <a href="contact" >OrderNow</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;" id="food5">
    <img src="https://media.istockphoto.com/photos/indian-food-celebration-for-ramadan-picture-id1217829391?k=20&m=1217829391&s=612x612&w=0&h=_Lv_sFV2QbaxAa3v5snWi_oK658ygLWyYdsFRV0Mt28=">
    <div class="card-body">
      <h5 class="card-title">south indian food</h5>
      <p class="card-text">non-veg<br>veg<br>₹300</p>
      <a href="contact" >OrderNow</a>
    </div>
  </div>
  